
body {
    background-color: aliceblue;
}

header main footer {
    min-width: 555px;
}

header .container, main .container, footer .container {
    /* was originally 555 px */
    max-width: 555px;
    margin: auto;
}

header {
    background-color: maroon;
}

main {
    background-color: skyblue;
}


header h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}

.text-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
}

.text-content p {
    width: 750px;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 20px;
}

hr {
    width: 100%; 
    border-color: black; 
    background: black;
    height: 2px;
}

.project1 {
    float: left;
    margin-top: 50px;
    margin-left: 250px;
    padding-bottom: 25px;
}

.project1 p {
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
}

.project2 {
    float: right;
    margin-top: 50px;
    margin-right: 250px;
    padding-bottom: 25px;
}

.project2 p {
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
}

.footer-div {
    margin-top: 25px;
    padding-bottom: 25px;
}

#school-info {
    list-style-type: disc;
    font-size: 20px;
    margin-left: 75px;
    padding-bottom: 5px;
}

#school-info a:link {
    text-decoration: none;
    color: black;
}

#school-info a:visited {
    text-decoration: none;
    color: green;
}

#school-info a:hover {
    text-decoration: none;
    color: blue;
}